<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343774741398-e3dkelhrlpoa0vbsfoh6j5682m63rkd8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343774741398-e3dkelhrlpoa0vbsfoh6j5682m63rkd8</string>
	<key>API_KEY</key>
	<string>AIzaSyDwJ4kk9KC35_QjpXPBVHx68RClq474pdo</string>
	<key>GCM_SENDER_ID</key>
	<string>343774741398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HIro.CoronaApp</string>
	<key>PROJECT_ID</key>
	<string>coronaapp-eb2c8</string>
	<key>STORAGE_BUCKET</key>
	<string>coronaapp-eb2c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343774741398:ios:4dff8dd8a1975c378f53b7</string>
</dict>
</plist>